* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  min-height: 100vh;
}

textarea {
  resize: none;
}

nav {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  outline: 0;
  text-align: left;
  color: #f8f4f1;
  background: linear-gradient(
    to bottom,
    #298cfe 0%,
    #044cdc 10%,
    #044cdc 60%,
    #005cf5 80%,
    #044cdc 100%
  );
}

nav > * {
  max-height: 100%;
}

nav .github {
  text-decoration: none;
}

nav .github img {
  height: 40px;
  width: 40px;
}

main {
  display: grid;
  grid-template-rows: minmax(auto, 4fr) 1fr 4fr auto;
  grid-template-areas:
    'inputs'
    'buttons'
    'text'
    'about';
  height: calc(100vh - 60px - 20px);
  padding: 10px;
}

.input-text-list {
  width: 100%;
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  gap: 10px;
}

.input-text-list .input-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.input-text-list .input-text-container textarea {
  flex-grow: 1;
  min-width: 150px;
  width: 100%;
}

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.button-list button {
  cursor: pointer;
  height: 40px;
  width: 100px;
}

.output-container {
  width: 100%;
  padding: 10px;
}

.output {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.about-container {
  width: 100%;
  padding: 10px;
}

.about-text-container {
  width: 100%;
  padding: 10px;
}
